section#photo {
    grid-area: photo;
    align-self: center;
}

section#photo img {
    display: block;
    margin: 0 auto;
    width: 15rem;
    border-radius: 50%;
}

@media (max-width: 768px) {
    section#photo img {
        max-width: 50%;
    }
}

@media print {
    section#photo img {
        border-radius: 0.2rem;
        padding: 1rem;
    }
}