@import 'photo.css';
@import 'contacts.css';
@import 'about.css';
@import 'projects.css';
@import 'competencies.css';
@import 'languages.css';
@import 'education.css';
@import 'consent.css';

section {
    padding: 0.2rem 1rem;
    line-height: 2;
    border-radius: var(--section-border-radius);
}

@media print {
    section {
        line-height: 1.5;
    }
}