@import './_photo.css';
@import './_contacts.css';
@import './_about.css';
@import './_projects.css';
@import './_competencies.css';
@import './_languages.css';
@import './_education.css';
@import './_consent.css';

section {
    padding: 0.2rem 1rem;
    line-height: 2;
    border-radius: var(--section-border-radius);
}